{% extends 'base.html' %}
{% load compress %}
{% load static %}
{% load url from future %}

{% block head %}
<style>
#location {
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	margin-bottom: 15px;
}
#location div.name {
	font-size: 24px;
}
#adjustment-type {
	float: left;
	clear: left;
	margin-top: 70px;
	margin-left: 30px;
	font-size: 16px;
}
#document {
	float: right;
}
#product-table {
	clear: both;
	margin: 15px 15px;
}
#product-table li > * {
	text-decoration: inherit;
}
#product-table div.handle {
	width: 10px;
	text-align: center;
}
#product-table div.name {
	width: 200px;
}
#product-table div.description {
	width: 300px;
}
#product-table div.spacer {
	width: 190px;
}
#product-table div.delta {
	width: 100px;
}
#product-table div.actions {
	width: 10px;
	text-align: center;
}
</style>
<script>
$(document).ready(function(){
	$("a#cancel-button").click(function() {
		var yes = confirm("Are you sure you want to cancel this adjustment?");
		if (yes) {
		} else {
			return false;
		}
	});	
});
</script>
{% endblock head %}

{% block main-title %} Adjustment Form {% endblock main-title %}
{% block sub-title %}
<span id='adjustment-number'>No. {{adjustment.date|date:"ymd"}}-{{adjustment.id|stringformat:"04d"}}</span>
{% endblock sub-title %}  

{% block context-menu %}
<label>Status: </label>
<span>{{adjustment.status }}</span>
{% if adjustment.editable %}
<div class='button'><a href="{% url 'inventory.views.adjustment.edit' adjustment.id %}"><span class="iconic pen"></span> Edit</a></div>
{% endif %}
{% if adjustment.cancelable %}
<div class='button'><a id="cancel-button" href="{% url 'inventory.views.adjustment.cancel' adjustment.id %}"><span class="iconic minus_alt"></span> Cancel</a></div>
{% endif %}
{% endblock context-menu %}

{% block content %}
<form id="form" name="form" method="post" action="">
	{% with document=adjustment %}
	{% include 'common/document_view.html' %}
	{% endwith %}
	<div id='location'>
		<div class='name'><a href="{% url 'inventory.views.location.view' adjustment.location.id %}">{{ adjustment.location.name }}</a></div>
		<div class='address'>{{ adjustment.location.address }}</div>
	</div>
	<div id="adjustment-type">
		TYPE: 
		{% if adjustment.type == types.ASSEMBLY %}ASSEMBLY{% endif %}
		{% if adjustment.type == types.EXPENSE %}EXPENSE{% endif %}
	</div>
    <ul id='product-table' class='table'>
    	<li class='header'>
        	<div class='handle'>&nbsp;</div>
        	<div class='name'>Name</div>
        	<div class='description'>Description</div>
        	<div class='spacer'>&nbsp;</div>
        	<div class='delta'>Delta</div>
        	<div class='actions'>&nbsp;</div>
        </li>
		{% for item in adjustment.items.all %}
    	<li class='body'>
        	<div class='handle'><span class='iconic play'></span></div>
        	<div class='name'><a href="{{item.product.get_view_url}}">{{item.product.name}}</a></div>
        	<div class='description'>{{item.product.summary}}</div>
        	<div class='spacer'>&nbsp;</div>
        	<div class='delta'>{% if item.delta > 0 %}+{% endif %}{{item.delta}}</div>
        	<div class='actions'>&nbsp;</div>
        </li>
		{% endfor %}
    </ul>
</form>
<div class="clear" style="height: 30px;"></div>
{% endblock content %}

