{% load url from future %}
<form id='physical-form' class="ajax" action="{{request.path}}">
	<div class='title'>{{stock.product.name}} {{stock.product.summary}} @ {{ stock.location.name }}</div>
	<div class='content'>
		<label>Physical Count: </label>
		<input type="hidden" id="input-physical-id" value="{{ stock.id }}"/>
		<input type="hidden" id="input-physical-url" value="{% url 'inventory.views.stock.physical' stock.id %}"/>
		<input type="number" id="input-physical-count" name='count' value="{{ stock.quantity }}"/>
	</div>
	<div class='buttons'>
		<div class='button submit'><a>Save</a></div>
	</div>
</form>