{% load compress %}
{% load static %}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}MERCURY{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}icons/iconic/iconic_stroke.css"/>
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/reset.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/smoothness/jquery-ui-1.9.1.custom.css"/>
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mercury.css"/>
{% block stylesheets %}
{% endblock stylesheets %}
<script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/jquery.tools-1.2.7.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/jquery.autoresize.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/mercury.timeout.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/mercury.dropdown.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/mercury.validation.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/mercury.toggler.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/mercury.js"></script>
{% block scripts %}
{% endblock scripts %}
{% block head %}
{% endblock head %}
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>