{% extends 'base.html' %}
{% load compress %}
{% load static %}
{% load url from future %}
{% load humanize %}

{% block main-title %}
MONTHLY REPORTS
{% endblock main-title %}

{% block sub-title %}
{% endblock sub-title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/task.css"/>
{% endblock stylesheets %}

{% block head %}
<style>
div.year {
	font-size: xx-large;
	width: 100px;
	margin: 15px auto;
}
table.data {
    margin: 15px auto;
    width: 94%;
	table-layout: fixed;    
}
table.data td {
	width: 7%;  
}
#newer-link {
	float: right;
	margin: 15px 30px 0 0;
}
#older-link {
	float: left;
	margin: 15px 0 0 30px;
}
</style>
{% endblock head %}

{% block context-menu %}
<div class='button'>
	<a href="{% url 'task.views.management.view' %}">Annual</a>
</div>
{% endblock context-menu %}

{% block content %}
	<div class="year">{{year}}</div>
	<div id='older-link' class='button'>
		<a href="?month={{old_month}}&year={{old_year}}">
			<span class='iconic arrow_left'></span> Older
		</a>
	</div>
	{% if new_year %}
	<div id='newer-link' class='button'>
		<a href="?month={{new_month}}&year={{new_year}}">
			 Newer <span class='iconic arrow_right'></span>
		</a>
	</div>
	{% endif %}
<div class='clear'></div>
<table class="data">
	<thead>
		<tr>
			<th></th>
			{% for label in month_labels %}
			<th>{{label}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sales</td>
			{% for value in sales %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Cogs</td>
			{% for value in cogs %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Profits</td>
			{% for value in profits %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Expenses</td>
			{% for value in expenses %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Purchases</td>
			{% for value in purchases %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Adjustments</td>
			{% for value in adjustments %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Collections</td>
			{% for value in collections %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Disbursements</td>
			{% for value in disbursements %}
			<td align="right">{{value|default:0|floatformat:2|intcomma}}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
<div class='clear'></div>
{% endblock content %}