{% load url from future %}
<div class='title'>
	<a href='#disbursement-unallocated' class='toggler'>OVERALLOCATED DISBURSEMENTS</a>
</div>
<ul id='disbursement-unallocated' class='table payment'>
	<li class='header'>
		<div class='code'>Ref. No.</div>
		<div class='customer'>Customer</div>
		<div class='supplier'>Supplier</div>
		<div class='date'>Date</div>
		<div class='amount'>Amount</div>
	</li>
	<a class='autoloader' href="{% url 'task.views.billing.payments' %}?customer_id={{ request.user.account.company.id }}&status=OVERALLOCATED">Loading...</a></ul>
