{% extends 'blank.html' %}
{% load compress %}
{% load static %}
{% load humanize %}
{% load url from future %}

{% block head %}
<style>
body > * {
	text-align: center;
}
table {
    margin: 0 auto;
}
table.data td {
	padding: 5px 20px;
}
</style>
<script>

</script>
{% endblock head %}

{% block body %}

<h1>RECEIVABLE AGING REPORT<h1>
<h3>as of {{today}}<h3>
<br>
<table class="data">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Total</th>
			<th>120 Days</th>
			<th>90 Days</th>
			<th>60 Days</th>
			<th>30 Days</th>
		</tr>
	</thead>
	<tbody>
		{% for customer in customers %}
		<tr>
			<td align="left">{{customer.name}}</td>
			<td align="right">{{customer.total|default:0|floatformat:2|intcomma}}</td>
			<td align="right">{{customer.a120|default:0|floatformat:2|intcomma}}</td>
			<td align="right">{{customer.a90|default:0|floatformat:2|intcomma}}</td>
			<td align="right">{{customer.a60|default:0|floatformat:2|intcomma}}</td>
			<td align="right">{{customer.a30|default:0|floatformat:2|intcomma}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}