{% extends 'base.html' %}
{% load compress %}
{% load static %}
{% load url from future %}

{% block head %}
<style>
form {
	margin: 15px 30px;
}
form label {
	float: left;
	clear: left;
	width: 150px;
	height: 15px;
	margin-bottom: 15px;
}
form input {
	float: left;
	margin-left: 10px;
	height: 15px;
	margin-bottom: 15px;
}
</style>
<script>
$(function() {
	$("#save-button").click(function() {
		$("form").submit();	
	});
});
</script>
{% endblock head %}

{% block context-menu %}
<div id="save-button" class="button"><a>Save</a></div>
<div id="cancel-button"  class="button"><a href="{% url 'home' %}">Cancel</a></div>
{% endblock context-menu %}

{% block main-title %}
CHANGE PASSWORD
{% endblock main-title %}

{% block sub-title %}
{% endblock sub-title %}  

{% block content %}
<form method="POST">
	<label for="old-password">Old Password:</label>
	<input id="old-password" name="old_password" type="password"/>
	<label for="new-password1">New Password:</label>
	<input id="new-password1" name="new_password1" type="password"/>
	<label for="new-password2">Retype New Password:</label>
	<input id="new-password2" name="new_password2" type="password"/>
</form>
<div class='clear' style='height: 0px'></div>
{% endblock content %}