{% extends 'base.html' %}
{% load compress %}
{% load static %}
{% load url from future %}
{% load humanize %}

{% block head %}
<style>
.col > div, .col > label {
	display: block-inline;
	float: left;
	line-height: 2em;
}
.col > div.spacing {
	width: 10px;
	height: 40px;
	display: block;
}
.col label {
	clear: left;
	width: 140px;
	font-weight: bold;
}
#contact.col {
	float: left;
	width: 350px;
}
.contact-card {
	float: left;
	width: 300px;
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 15px;
}
.contact-card .name {
	font-size: 24px;
}
table#account {
	clear: left;
	float: left;
	margin: 0 15px 15px 15px;
	width: 320px;
}
table#allocations {
	width: 375px;
	margin: 0 15px 15px 0;
}
#document {
	float: right;
}
#details {
	float:left;
	width: 370px;
	padding: 15px 15px;
	border-left: 1px solid #ccc;
	min-height: 225px;
}
#discount-form input {
	width: 100px;
}
#transfer-details {
	clear: both;
	margin-top: 15px;
	border-top: 1px solid #ccc;
	padding: 15px;
}
#product-table {
	clear: both;
}
#product-table div.bullet {
	width: 10px;
}
#product-table div.item {
	width: 170px;
}
#product-table div.description {
	width: 320px;
}
#product-table div.ordered {
	width: 50px;
}
#product-table div.balance {
	width: 50px;
	display: none;
}
#product-table div.quantity {
	width: 50px;
}
#product-table div.price {
	width: 80px;
}
#product-table div.total {
	width: 80px;
}
#product-table li.body div.total {
	text-align: right;
}
#product-table div.actions {
	width: 10px;
}
div#bottom-bar {
	clear: both;
	float: left;
	padding: 5px 10px;
	width: 908px;
	font-weight: bold;
	border: 1px solid #CCC;
}
div#bottom-bar > * {
	display: inline-block;
}
div#total {
	float: right;
	font-weight: bold;
}
div#amount {
	float: right;
	display: inline-block;
	font-weight: bold;
	background-color: #fff;
	width: 110px;
	margin-right: 25px;
	text-align: right;
}

#returns-title {
	margin: 30px 30px 0px 15px;
	font-size: large;
	float: right;
}
div.return.id {
	float: right;
	clear: right;
	margin: 15px 30px 0px 15px;
	font-size: larger;
}
ul.return.table {
	float: right;
	margin: 0px 15px 0px 15px;
}
ul.return.table li.body {
	background-color: #ffb200;
}
ul.return.table div.bullet {
	width: 10px;
}
ul.return.table div.item {
	width: 170px;
}
ul.return.table div.description {
	width: 320px;
}
ul.return.table div.ordered {
	width: 50px;
}
ul.return.table div.balance {
	width: 50px;
	display: none;
}
ul.return.table div.quantity {
	width: 50px;
}
ul.return.table div.price {
	width: 80px;
}
ul.return.table div.total {
	width: 80px;
}
ul.return.table li.body div.total {
	text-align: right;
}
ul.return.table div.actions {
	width: 10px;
}
ul.return.table div.grand.total {
	text-align: right;
	width: 838px;
	font-weight: bold;
}
.canceled {
	opacity:0.25;
}
</style>
<script>
$.validation.amount = function(input) {
	var bill_amount = parseFloat($("#bill-amount").val());
	var value = parseFloat($(input).val());
	if (value > bill_amount) {
		$(input).invalidate($.validation.ERROR, 'The discount cannot be greater than the bill amount.');
		return false;
	}
},

$(document).ready(function(){
	$("#discount-button").click(function() {
		$('#overlay').overlay().load();
		$('#discount-label').focus();
	});
	
	$("#discount-form").validation([{
		selector: "#discount-label",
		validators: ['required'],
	}, {
		selector: "#discount-amount",
		validators: ['required', 'positive_decimal', 'amount'],
	}, ]);
	
	// enable selection of items
	$("#discount-label").autocomplete({
		source: ["Sales Discount", "Withholding Tax"],
		minLength: 0,
	});
	
	// enable forms to submit via ajax and load responses onto the form itself
	$('#discount-form div.button.submit').click(function() {
		submit($('#discount-form'));
	});

	$("a#cancel-button").click(function() {
		var yes = confirm("Are you sure you want to cancel this bill?");
		if (yes) {
		} else {
			return false;
		}
	});			
});
</script>
{% endblock head %}

{% block main-title %}{{bill.type|upper}}{% endblock main-title %}  
{% block sub-title %}No. {{bill.reference}} {% endblock sub-title %}

{% block context-menu %}
	<label>Order No.:</label>
	<span>
		{% if bill.transfer %}
			<a href="{{bill.transfer.order.get_view_url}}">{{bill.transfer.order.reference}}</a>
		{% else %}
			None
		{% endif %}
	</span>
	<label>Transfer No.:</label>
	<span>
		{% if bill.transfer %}
			<a href="{{bill.transfer.get_view_url}}">{{bill.transfer.reference}}</a>
		{% else %}
			None
		{% endif %}
	</span>
	<label>Status:</label>
	<span>{{bill.status}}</span>
	{% if not bill.canceled %}
	<div class='dropdown'>
	    <div class='button'>
	    	<a><span class='icon iconic dropdown'></span></a> 
	    </div>
	    <ul class='menu right'>
			{% if not bill.is_paid %}
			<li><div class='button'><a href="{% url 'accounting.views.bill.quickpay' bill.id %}"><span class='iconic bolt'></span> Quickpay</a></div></li>
			{% endif %}
			{% if not bill.canceled %}
			<li><div id='discount-button' class="button"><a href="#"><span class='iconic minus'></span> Discount</a></div></li>
	    	<li><div class='button'><a href="{{ bill.get_edit_url }}"><span class='iconic pen'></span> Edit</a></div></li>
	    	{% endif %}
			{% if bill.cancelable %}
			<li><div class='button'><a id="cancel-button" href="{% url 'accounting.views.bill.cancel' bill.id %}"><span class='iconic minus_alt'></span> Cancel</a></div></li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
{% endblock context-menu %}

{% block content %}
<div id='contact' class="col">
	{% include "addressbook/contact_card.html" %}
	<table id="account" class="data">
		<thead>
			<tr>
				<th colspan="2">ACCOUNT</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td align="right">Debt Outstanding:</td>
				<td align="left">{{bill.account.debt|default:0|floatformat:2|intcomma}}</td>
			</tr>
			<tr>
				<td align="right">Credit Available:</td>
				<td align="left">{{bill.account.credit|default:0|floatformat:2|intcomma}}</td>
			</tr>
		</tbody>
	</table>
</div>
{% with document=bill %}
{% include "common/document_view.html" %}
{% endwith %}
<div id='details' class="col">
	<table id="allocations" class="data">
		<thead><tr><th colspan="3">DETAILS</th></tr></thead>
		<tbody>
			<tr>
				<td align="right">Amount:</td>
				<td align="left" colspan="2">{{bill.amount|default:0|floatformat:2|intcomma}}</td>
			</tr>
			{% for d in bill.discounts.all %}
			<tr>
				<td align="right">{{d.label}}:</td>
				<td align="left">{{d.amount|default:0|floatformat:2|intcomma}}</td>
				<td>
					<a href="{% url 'accounting.views.discount.delete' d.id %}">
						<span class='iconic x'></span>
					</a>
				</td>
			</li>
			{% endfor %}
			<tr>
				<td align="right">Net Discounts:</td>
				<td align="left" colspan="2">{{bill.total|default:0|floatformat:2|intcomma}}</td>				
			</tr>
			{% for a in bill.allocations.all %}
			<tr>
				<td align="right"><a href="{{a.payment.get_view_url}}">{{a.payment.code}}</a>:</td>
				<td align="left" colspan="2">{{a.amount|default:0|floatformat:2|intcomma}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td align="right">Outstanding:</td>
				<td align="left" colspan="2">{{bill.outstanding|default:0|floatformat:2|intcomma}}</td>
			</tr>			
		</tbody>
	</table>
	<input type='hidden' id="bill-amount" value="{{bill.total}}"/>
	
</div>
{% if bill.transfer %}
<div id='transfer-details'>
	<ul id='product-table' class='table'>
	    <li class='header'>
	        <div class='bullet'></div>
	        <div class='item'>Item</div>
	        <div class='description'>Description</div>
	        <div class='ordered'>Order</div>
	        <div class='balance'>Balance</div>
	        <div class='quantity'>Qty</div>
	        <div class='price'>Price</div>
	        <div class='total'>Total</div>
	        <div class='actions'></div>
	    </li>
	{% for item in bill.transfer.items.all %}
	    <li class='body'>
	    	<input type='hidden' name='item-id' value='{{ item.id }}'/>
	        <div class='bullet'><span class='iconic play'></span></div>
	        <div class='item'><a href="{{ item.order.info.get_view_url }}">{{ item.order.info.name }}</a></div>
	        <div class='description'>{{ item.order.info.summary }}</div>
	        <div class='ordered'>{{ item.order.quantity }}</div>
	        <div class='balance'>{{ item.order.balance }}</div>
	        <div class='quantity'><input type='text' name='item-quantity' class='quantity' readonly='readonly' required='required' value='{{ item.quantity }}'/></div>
	        <div class='price'><input type='text' class='price' readonly='readonly' value='{{ item.order.price|default:0|floatformat:2|intcomma }}'/></div>
	        <div class='total'>{{ item.value|default:0|floatformat:2|intcomma  }}</div>
	        <div class='actions'></div>
	    </li>
	{% endfor %}
	</ul>
    <div id='bottom-bar'>
    	<div id='amount'/>{{bill.transfer.value|default:0|floatformat:2|intcomma}}</div>
	    <div id='total'>GRAND TOTAL:</div>
	</div>
	
	<div id='returns-title'><span class='iconic undo'></span> RETURNS</div>
	{% for order_return in bill.transfer.returns.all %}
	{% if order_return.canceled %}
	<div class='return id canceled'>
		Ref. No. {{order_return.code|default:"(None)"}} - {{order_return.date|date:"m/d/Y"}} - CANCELED
	</div>
    <ul class='return table canceled'>
	{% else %}
	<div class='return id'>
		Ref. No. {{order_return.code|default:"(None)"}} - {{order_return.date|date:"m/d/Y"}}
		&nbsp;
		<a class='return iconic x_alt' href="{% url 'trade.views.orderreturn.cancel' order_return.id %}" title='Cancel'></a>
	</div>
    <ul class='return table'>
	{% endif %}	
        <li class='header'>
            <div class='bullet'></div>
            <div class='item'>Item</div>
            <div class='description'>Description</div>
            <div class='quantity'>Qty</div>
            <div class='price'>Price</div>
            <div class='total'>Total</div>
            <div class='actions'></div>
        </li>
	{% for item in order_return.items.all %}
        <li class='body'>
            <div class='bullet'><span class='iconic arrow_left'></span></div>
            <div class='item'><a href="{{ item.transfer.order.info.get_view_url }}">{{ item.transfer.order.info.name }}</a></div>
            <div class='description'>{{ item.transfer.order.info.summary }}</div>
            <div class='quantity'>{{ item.quantity }}</div>
            <div class='price'>{{ item.transfer.order.price|default:0|floatformat:2|intcomma }}</div>
            <div class='total'>{{ item.value|default:0|floatformat:2|intcomma }}</div>
            <div class='actions'></div>
        </li>
	{% endfor %}
		<li class='footer'>
			<div class="grand total">GRAND TOTAL: &nbsp; {{order_return.value}}</div>
		</li>
    </ul>
	{% endfor %}
</div>
<div class="clear" style="height: 15px;"></div>
{% endif %}
<div class="clear" style=""></div>
{% endblock content %}

{% block overlay %}
<form id='discount-form' action="{% url 'accounting.views.discount.new' bill.id %}" method="post">
	<div class='title'>ADD DISCOUNT</div>
	<div class='content'>
		<input type="hidden" name="bill" value="{{bill.id}}"/>
		<input type='text' id='discount-label' name='label' placeholder="Label"/>
	    <input type='text' id='discount-amount' name='amount' placeholder="Amount"/>
    </div>
	<div class='buttons'>
		<div class='button submit'><a>Save</a></div>
	</div>
</form>
{% endblock overlay %}
