{% extends 'base.html' %}
{% load compress %}
{% load static %}
{% load url from future %}
{% load humanize %}

{% block head %}
<style>
{% if title == 'Disbursement' %}
div#title {
	background-color: #ff55aa;
}
{% endif %}
div#contact {
	float: left;
}
.contact-card {
	float: left;
	width: 300px;
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 15px;
}
table#account {
	clear: left;
	float: left;
	margin: 0 15px 15px 15px;
	width: 300px;
}
#document {
	float: right;
}
div#payment{
	float:left;
	width: 300px;
	padding: 15px 30px 0px 30px;
}
div#payment > * {
	margin-right: 15px;
	margin-bottom: 15px;
}
div#payment input {
	border: 1px solid #CCC;
}
table#refunds {
	float: left;
	width: 350px;
	margin: 0 15px 15px 0;
}
label {
	display: inline-block;
	width: 100px;
	font-weight: bold;	
}
.type {
	float: left;
	clear: left;
	margin-right: 150px;
}
.type select {
}
.amount {
	float: left;
	clear: left;
}
.amount input {
}
#buttons {
	clear: both;
	text-align: center;
	margin-top: 20px;
}
div#allocations {
	border-top: 1px solid #ccc;
	padding: 15px;
	width: 930px;
}
div#allocations table.data {
	width: 100%;
}
</style>
<script>
$(document).ready(function(){
	$('.paid-checkbox').attr('checked', false);

	$('.paid-checkbox').change(function() {
		var funds_available = intfloat($('#funds-available-input').val());
		var funds_allocated = intfloat($('#funds-allocated-input').val());
		var selection_total = intfloat($('#selection-total-input').val());
		
		var bill = intfloat($(this).next('.bill-total').val());
		var bill_id = $(this).val();
		var bill_code = $(this).siblings('label').first().html();
		
		if ($(this).is(":checked")) {
			if (funds_available >= (funds_allocated + bill)) {
				funds_allocated = funds_allocated + bill;
				allocate(bill_id, bill_code, bill);
			} else if (funds_available > funds_allocated) {
				alert("Not enough credit. This bill will only be partially paid.");
				var allocation = funds_available - funds_allocated;
				funds_allocated = funds_available;
				allocate(bill_id, bill_code, allocation);
			} 
			selection_total = selection_total + bill;
		} else {
			var amount = deallocate(bill_id)
			funds_allocated = funds_allocated - amount;
			selection_total = selection_total - bill;
		}
		
		funds_allocated = currency(funds_allocated);
		selection_total = currency(selection_total);
		$('#funds-allocated-div').html(asCurrency(funds_allocated));
		$('#funds-allocated-input').val(funds_allocated);
		$('#selection-total-div').html(asCurrency(selection_total));
		$('#selection-total-input').val(selection_total);
		
		if ($('tr.temp').length > 0) {
			$('#submit-allocations').show();
		} else {
			$('#submit-allocations').hide();
		}
	});
	
	$("a#cancel-button").click(function() {
		var yes = confirm("Are you sure you want to cancel this payment?");
		if (yes) {
		} else {
			return false;
		}
	});		
});
</script>
{% endblock head %}

{% block main-title %}{{title|upper}}{% endblock main-title %}  
{% block sub-title %}No.{{payment.reference}}{% endblock sub-title %}  

{% block context-menu %}
<label>Status:</label>
<span>{{ payment.status }}</span>
{% if payment.supplier == contact %}
	<div class='button'><a href="{% url 'accounting.views.payment.disburse' contact.id %}"><span class='iconic plus'></span> New Disbursement</a></div>
{% else %}
	<div class='button'><a href="{% url 'accounting.views.payment.collect' contact.id %}"><span class='iconic plus'></span> New Collection</a></div>
{% endif %}

<div class='dropdown'>
    <div class='button'>
    	<a><span class='icon iconic dropdown'></span></a> 
    </div>
    <ul class='menu right'>
		<div class='button'><a href="{% url 'accounting.views.payment.allocate' payment.id %}"><span class='iconic chart'></span> Allocate</a></div>
		<div class='button'><a href="{% url 'accounting.views.refund.new' payment.id %}"><span class='iconic undo'></span> Refund</a></div>
		{% if payment.editable %}
		<div class='button'><a href="{{ payment.get_edit_url }}"><span class='iconic pen'></span> Edit</a></div>
		{% endif %}
		{% if payment.cancelable %}
		<div class='button'><a id="cancel-button" href="{{ payment.get_cancel_url }}"><span class='iconic minus_alt'></span> Cancel</a></div>
		{% endif %}
	</ul>
</div>
{% endblock context-menu %}  

{% block content %} 
<input type='hidden' name='contact' value='{{form.contact.value}}'>
<input type='hidden' name='type' value='{{form.type.value}}'>
<div id='contact'>
	{% include 'addressbook/contact_card.html' %}
</div>
<div id="payment">
    <div>
    <table id='refunds' class='data'>
    	<thead>
    		<tr>
        		<th colspan='3'>PAYMENT</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td align="right">Mode:</td>
    			<td align="left" colspan="2">{{mode}}</td>
    		</tr>
    		<tr>
    			<td align="right">Amount:</td>
    			<td align="left" colspan="2">{{payment.amount|default:0|floatformat:2|intcomma}}</td>
    		</tr>
	        {% for r in payment.refunds.all %}
        	<tr>
        		<td align="right">Refund:</td>
        		{% if r.cancelable %}
        		<td align="left" title="{{r.date|date:"m/d/Y"}} {{r.mode_label}} {{r.code}}">{{r.amount}}</td>
        		<td><a class='iconic denied' title="Cancel" href="{% url 'accounting.views.refund.cancel' r.id %}"></a></td>
    			{% else %}
        		<td colspan="2" class="strikethrough" align="left" title="{{r.date|date:"m/d/Y"}} {{r.mode_label}} {{r.code}}">{{r.amount}}</td>
        		{% endif %}
        	</tr>
	        {% endfor %}
    		<tr>
    			<td align="right">Net:</td>
    			<td align="left" colspan="2">{{payment.total|default:0|floatformat:2|intcomma}}</td>
    		</tr>	        
	    </tbody>
    </table>
    </div>
</div>
{% with document=payment %}
{% include 'common/document_view.html' %}
{% endwith %}
<div id='allocations'>
	<table class='data'>
		<thead>
			<tr>
				<th colspan='6'>ALLOCATIONS</th>
			</tr>
			<tr>
				<th>Bill No.</th>
				<th>Date</th>
				<th>Amount</th>
				<th>Allocated</th>
				<th>Allocation</th>
				<th>Status</th>
			</tr>			
		</thead>
		<tbody>
			{% for allocation in payment.allocations.all %}
			<tr>	
				<td><a href="{{allocation.bill.get_view_url}}">{{allocation.bill.code}}</a></td>
				<td>{{allocation.bill.date|date:"M d, Y"}}</td>
				<td>{{allocation.bill.total}}</td>
				<td>{{allocation.amount}}</td>
				<td>{% if allocation.amount < allocation.bill.total %}PARTIAL{% else %}FULL{% endif %}</td>
				<td>{{allocation.bill.status}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
</div>
{% endblock content %}
